.mainErrorDiv{
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorContent h1{
    margin: 0;
}

.errorContent h3{
    cursor: pointer;
}

.errorContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorContent h3:hover{
    color: rgb(57, 57, 201);
}