/* SuccessMessage.css */
.successMessage {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.5rem;
    background-color: #d4edda;
    color: #104b1e;
    padding: 10px 20px;
    border: 1px solid #c3e6cb;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgb(5, 5, 5);
  }
  
  .visible {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s 0.5s;
  }
  