.singleBookMainDiv{
    /* height: 100vh;  */
    width: calc(100vw -15rem);
    box-sizing: border-box;
    display: flex;
}

.bookDisplayDiv{
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
}

.singleBookImage{
    /* width: 400px; */
    height: 560px;
    box-shadow: 5px 5px 0px 0px rgba(91,91,85,1),
10px 10px 0px 0px rgba(103,106,99,0.6),
15px 15px 0px 0px rgba(112, 114, 110, 0.4),
20px 20px 0px 0px rgba(124,125,124,0.2),
25px 25px 0px 0px rgba(106,106,105,0.1);
}
.bookDetails{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 2rem;
    background-color: rgb(32, 32, 32);
    border-radius: 1rem;
    box-shadow: 13px 11px 10px rgb(15, 15, 15);
}

.bookDetails p{
    margin: 0.2rem;
}

.singleBookAuthor{
    color: rgb(255, 203, 33);
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.singleBookTitle{
    font-size: 1.7rem;
    font-weight: bold;
}
.singleBookDescription{
    padding-top: 1rem;
    font-size: 1.2rem;
}

.summarizationText{
    padding-top: 1rem;
}

.singleBookEditButton{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.singleBookEditButton:hover{
    background-color: rgb(49, 48, 48);
}

.singleBookEditButton:active{
    transform: scale(0.97);
}


.topExtraInfParagraph{
    color: white;
    font-size: 2.2rem;
}

.newNoteButton{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    color: white;
    background: rgb(118, 118, 192);
    border: 1px solid transparent;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.newNoteButton:hover{
    border: 1px solid rgb(255, 255, 255);
}

.newNoteButton:active{
    transform: scale(0.97);
}

.otherBookInformationDiv{
    /* max-height: 600px; */
    padding-bottom: 2rem;
    margin-left: 2rem;
    overflow: auto;
}

.remainingNotes{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.viewAllButton{
    cursor: pointer;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding:0.5rem 1rem ;
    border: none;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(0, 38, 255);
}

.viewAllButton:hover{
    background-color: rgb(10, 10, 179);
}

.viewAllButton:active{
    transform: scale(0.98);
}

.review{
    background-color: rgba(55, 0, 255, 0);
    border: 1px solid white;
}

.reviews-div{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    align-items: center;
}

.reviews-div h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.displaying-booknotes {
    overflow-x: hidden;
    padding-right: 2rem;
    max-height: 300px;
    overflow-y: auto;
}

.displaying-booknotes::-webkit-scrollbar {
    width: 12px; 
}

.displaying-booknotes::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;

}

.displaying-booknotes::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px; 
}

.displaying-booknotes::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}