body{
    color: #f5c013;
}

.quote {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2rem;
  margin: 2rem;
  padding: 0.5rem;
  border-left: 6px solid #f5c013; 
  color: black; 
  background-color: #f9f9f9; 
  font-size: 24px;  
  user-select: none;
  width: 700px; 
  height: 300px; 
  overflow: hidden; 
  position: relative;
  transition: all 0.3s ease;
}


  
.quote.expanded {
  max-height: none; /* Remove max-height when expanded */
  overflow: visible; /* Show overflow when expanded */
}

.quote.expanded .quote-description, .quote.expanded .quote-author {
  white-space: normal; /* Allow wrapping in expanded state */
  overflow: visible; /* Show overflow in expanded state */
  text-overflow: clip; /* Remove ellipsis in expanded state */
}

.quote--dark {
  background-color: #1f1d18;
  color: white;
}
  
  .quote:hover{
    transform: scale(1.01); 
  }

  .quoteDark:hover{
    transform: scale(1.01); 
  }
  
  .quote-description {
    font-style: italic;
    flex: 0 1 80%;
  }
  
  .quote-author {
    font-size: 1rem;
    color: #f5c013;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-top: 4rem;
    margin-right: 1rem;
    font-weight: bold;
    flex: 0 1 20%;
  }

  .quote-description, .quote-author {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides text overflow */
    text-overflow: ellipsis; /* Shows ellipsis for overflowed text */
    max-width: 100%; /* Adjust based on your layout */
  }

.checkBox{
  transform: scale(1.5);
  cursor: pointer;
  margin-bottom: 2rem;
}

.editQuoteButton{
  background-color: #1714a8;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5); 
  border: none;
  transition: all 0.15s ease;
}

.editQuoteButton:hover{
  background-color: #1c1575;
}
  