body{
    color: #f5c013;
}

.quote {
  cursor: pointer;
    display: flex; /* This makes .quote a Flexbox container */
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2rem;
    height: 6rem;
    margin: 1rem;
    padding: 0.5rem;
    border-left: 6px solid #f5c013;
    color: black;
    background-color: #f9f9f9;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .quote:hover{
    transform: scale(1.01); 
  }
  
  .quote-description {
    font-style: italic;
    flex: 0 1 80%;
  }
  
  .quote-author {
    text-align: right;
    margin-top: 4rem;
    font-weight: bold;
    flex: 0 1 20%;
  }


.checkBox{
  transform: scale(1.5);
  cursor: pointer;
  margin-bottom: 2rem;
}
  