.rolesUl{
margin :0 0 5rem 0;
padding: 3rem;
display: grid;
grid-template-columns: repeat(4, 1fr);

}

.mainRolesDivContainer h2{
    font-size: 2rem;
    background-color: rgb(54, 53, 53);
    box-shadow: 10px 0px 19px rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.rolesLi{
    display: inline;
}

.rolesButtonsDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.addRoleButton{
    margin-right: 2rem;
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.5rem 1rem 0.5rem 0.9rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.2rem;
    box-shadow: 2px 3px 5px rgb(24, 23, 23);
    border: 1px solid black;
}

.addRoleButton:hover{
    background-color: black;
    color: white;
}