.mainIndividualBookDiv {
    position: relative;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    width: 330px;
    display: grid;
    grid-template-columns: 210px 120px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    background-image: repeating-conic-gradient(rgb(51, 51, 51) 0deg 90deg,
    rgb(39, 39, 39) 90deg 180deg);
    background-size: 6px 6px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.12), 2px 4px 6px rgba(0, 0, 0, 0.24);
}

.mainIndividualBookDiv:hover {
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
}

.bookTitle{
    font-weight: bolder;
    color: white;
}

.bookAuthor{
    font-size: 0.9rem;
    color: #f5c013;
}

.individualBookImages {
    position: relative;
    height: 120px; 
    object-fit: contain; 
    border-radius: 4px;
    box-shadow: 1px 1px 28px rgba(5, 5, 5, 0.12), 0 1px 28px rgba(0, 0, 0, 0.30);
    justify-self: end; 
}

.mainIndividualBookDiv.random {
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: -8px 10px 5px rgba(5, 5, 5, 0.50);
    background: #076585; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #076585, #fff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #070c22,#354392, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 330px;
    cursor: grab;
}

.selected {
    background-image: repeating-conic-gradient(rgb(54, 24, 24) 0deg 90deg,
    #300f0f7c 90deg 180deg);
    background-color: #e935357c; 
  }
  
.mainIndividualBookDiv.random:active {
    cursor: grabbing;
}