.homeMainDiv {
    display: grid;
    grid-template-rows: auto; /* Adjust 200px to the fixed height you want */
    font-family: "Exo", sans-serif;
    /* gap: 2rem; */
  }
  
  .firstParagraph {
    color: white;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: bold;
    user-select: none;
    font-size: 6rem;
  }

  @keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}
  .logInParagraph,
  .signUpParagraph{
  user-select: none;
  font-family:arial black;
  font-size:70px;
  background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 35s linear infinite;
  }

  .signUpParagraph{
    background-image: linear-gradient(to right, rgb(117, 0, 111),rgb(245, 118, 238), rgb(117, 0, 111)); 
  }

  .logInParagraph{
    background-image: linear-gradient(to right, rgb(14, 22, 133),rgb(108, 110, 241), rgb(14, 22, 133)); 
  }

.signupDiv{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton,
.signupButton{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(224, 216, 216);
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  box-shadow: 1px 8px 14px rgba(0, 0, 0, 0.5); 
}

.signupButton{
  background-color: rgb(117, 0, 111);
}

.signupButton:hover{
  background-color: rgb(99, 6, 94);
}

.loginButton{
  background-color: rgb(14, 22, 133);
}

.loginButton:hover{
  background-color: rgb(13, 20, 117);
}


  .firstRow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    text-align: center;
    grid-column: 1 / -1;
  }

  .mainBackgroundImage,
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px); 
    z-index: -1; 
  }

  .mainBackgroundImage{
    opacity: 0;
  transition: opacity 1s ease-in-out; 
  }

  .mainBackgroundImage.active {
    opacity: 1;
  }

  .secondRow {
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* This ensures any children of secondRow are side by side */
    gap: 2rem; 
  }

  .quotesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quotesDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    height: 300px;
    background-color: rgb(36, 32, 32);
    box-shadow: 1px 8px 14px rgba(0, 0, 0, 0.5); 
  }

  .topParagraph {
    margin-bottom: 1rem;
    color: white; 
    width: 100%; 
    text-align: center;
    font-weight: bold; 
    font-size: 2rem; 
    background: -webkit-linear-gradient(45deg, #fffeff, #585855);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    transition: all 0.16s ease-in;
  }

  .topParagraph:hover{
    transform: scale(1.04);
    background: -webkit-linear-gradient(135deg,#fffb27,#f700ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

  .quotesParagraph {
    font-style: italic;
    color: white;
    text-align: center; 
    padding: 10px; 
  }

  .booksDiv{
    cursor: pointer;
    border-radius: 0.2rem;
    height: 300px;
    background-color: rgb(36, 32, 32);
    box-shadow: 1px 8px 14px rgba(0, 0, 0, 0.5); 
  }

  .bookImages {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .bookImage {
    width: 100px; 
    height: auto;
    border-radius: 4px; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6); 
  }

  .bookImage:hover{
    transform: scale(1.03);
  }

  .quotesDiv, .booksDiv {
    transform: scale(0.96); /* Scale down slightly */
    transition: transform 0.16s ease-out;
  }
  
  .quotesDiv:hover, .booksDiv:hover {
    transform: scale(1); /* Scale back to normal */
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .homeSpanEverything {
    display: block;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 30%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-text-fill-color:transparent ;
    font-weight: 700;
    font-size: 5rem;
    background-size: 200% 100%; 
  }
  
  .homeSpanEverything:hover {
    animation: gradientMove 1.7s ease infinite;
  }