.mainRoleDiv {
    cursor: pointer;
    height: fit-content;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(150, 3, 3);
    border-radius: 0.3rem;
    margin: 2rem;
    box-shadow: 2px 5px 8px rgb(31, 30, 30);
    overflow: hidden;
    transition: all 1s ease-in; 
  }
  
  .hiddenPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hiddenPart p {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(92, 25, 22);
  }

  .roleParagraph{
    font-size: 1.4rem;
    font-weight: bolder;
  }

  